# Virtual environments
venv/
.venv/
env/
.env/

# Datasets folder
data/
epochs/
features/

# Results folder
results/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jetbrains
.idea/

# Logs
*.log

# Exceptions
!/scripts/epochs